body{
  background-color: AliceBlue;
}
h1{
  Color:Teal;
}
p{
  Color:Black;
}
page{
  width: :780px;
  margin: auto;
  font-size: 16px;
  font-family: 'Museo',sans-serif;
}
infophoto{
  height: 250px;
}
info{
  float:left;
}
photo{
  float:right;
}
section{
  margin-bottom: 70px;
}
sec-gauche{
  float: left;
}
sec-droit{
  margin-left: 150px;
}
