body{
  background-color: AliceBlue;
}
h1{
  Color:Teal;
  font-family: museo;
  font-size: 200%;
}
h2{
  color: Black;
  font-family: museo;
  font-size: 180%;
}
p{
  Color:Black;
  font-family: museo
  font-size:160%;
}
